body{
    margin: auto;
}
.btn{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 20%;
    margin: 30px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}
h1,h3{
    text-align: center;
}
.red{
    background-color: rgb(175, 87, 87);
}
.green{
    background-color: rgb(95, 244, 95);
}
.yellow{
    background-color: rgb(210, 210, 79);
}
.purple{
    background-color: rgb(192, 116, 192);
}
.gameflash{
    background-color: white;
}
.userFlash{
    background-color: blue;
}